<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/dashboard.css" />
</head>
<body>
    <header class="dashboard_header">
        <div class="header_logo">
            <h1>Quick Join</h1>
        </div>
        <div class="toolarea">
            <button class="add_link_button">
                <img src="/images/add-outline.svg">
            </button>
            <button class="settings_button" aria-describedby="tooltip">
                <img id="settings-button-image" src="/images/settings-outline.svg">
            </button>
            <div class="settings-box" id="tooltip" role="tooltip">
                <div class="settings-options">
                    <div>
                        <span>Signed in as </span>
                        <br>
                        <% if (user) { %>
                            <strong><%= user.email %></strong>
                        <% } %>
                    </div>
                    <div id="settings-page-link">
                        <span>Settings</span>
                    </div>
                    <div class="signout-button">
                        Sign out
                    </div>
                </div>
                <div id="arrow" data-popper-arrow></div>
            </div>
        </div>
    </header>

    <p class="special-message"></p>

    <div class="column-names">
            <div><h3>Name</h3></div>
            <div><h3>Time</h3></div>
    </div>
    
    <div class="link-container">
    </div>

    <div class="add_link_modal blocking-screen">
        <div class="modal-content animated-modal">
            <h3 style="margin:0;">Add a link</h3>

            <div class="modal-input">
                <label for="url">Url</label>
                <input class="new-link-input" type="url" id="url" required>
            </div>

            <div class="modal-input">
                <label for="time">Meeting Time</label>
                <input class="new-link-input" type="time" id="time">
            </div>

            <div class="modal-input">
                <label for="name">Meeting Name</label>
                <input class="new-link-input" type="text" id="name" maxlength="70">
            </div>

            <div class="modal-buttons">
                <button class="add-link-button">Submit</button>
                <button class="cancel-modal">Cancel</button>
            </div>
        </div>
    </div>

    <div class="remove-link-modal blocking-screen">
        <div class="remove-link-modal-content animated-modal">
            <span class="remove-link-name"></span>
            <button>Yes</button>
            <button>No</button>
        </div>
    </div>

    <div class="edit-link-modal blocking-screen">
        <div class="edit-link-modal-content animated-modal">
            <div><h3>Edit link</h3></div>
            <div>
                    <label for="edit-url">Url</label>
                    <input class="edit-link-input" type="url" id="edit-url" required>
            </div>

            <div>
                    <label for="edit-time">Meeting Time</label>
                    <input class="edit-link-input" type="time" id="edit-time">
            </div>

            <div>
                    <label for="edit-name">Meeting Name</label>
                    <input class="edit-link-input" type="text" id="edit-name" maxlength="30" required>
            </div>

            <div>
                    <button id="save-edited-link">Save</button>
                    <button id="close-link-editor">Cancel</button>
            </div>
        </div>
    </div>

    <!--
    <script src="/scripts/dashboard/dashboard.js" type="module"></script>
    <script src="/scripts/dashboard/modalControl.js" type="module"></script>
    <script src="/scripts/dashboard/settingsControl.js"></script>
    -->
    <script src="/build/bundle.js"></script>
</body>
</html>
