<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/dashboard.css" />
</head>
<body>
    <header class="dashboard_header">
        <div class="header_logo">
            <h1>Quick Join</h1>
        </div>
        <div class="toolarea">
            <button class="settings_button" aria-describedby="tooltip">
                <img src="/images/settings-outline.svg">
            </button>
            <div class="settings-box" id="tooltip" role="tooltip">
                <div class="settings-options">
                    <div>
                        <span>Signed in as </span>
                        <br>
                        <% if (user) { %>
                            <strong><%= user.email %></strong>
                        <% } %>
                    </div>
                    <div id="settings-page-link">
                        <span>Settings</span>
                    </div>
                    <div class="signout-button">
                        Sign out
                    </div>
                </div>
                <div id="arrow" data-popper-arrow></div>
            </div>
        </div>
    </header>

    <div class="link-container">
    </div>

    <script src="https://unpkg.com/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="/scripts/dashboard.js"></script>
</body>
</html>
