<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/genericHeader.css" />
    <link rel="stylesheet" href="/styles/forgotPassword.css">
</head>
<body>
    <header class="dashboard_header">
        <div class="header_logo">
            <h1><a href="/">Quick Join</a></h1>
        </div>
    </header>
    <div class="wrapper">
        <p>Reset Password</p>
        <div class="password-form">
            <label for="emailInput">Enter your email to receive a password reset</label>
            <input type="email" name="user-email" id="emailInput" placeholder="Email">
            <button class="password-reset-btn">Send email reset link</button>
        </div>
    </div>
    <script src="/build/forgotPassword.js"></script>
</body>
</html>