<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/login.css" />
</head>
<body>
    <div class="wrapper">
        <div class="description">
            <h1>Quick Join</h1>
            <p>Having a difficult time going from link to link for your classes?</p>
            <p>Add all your video links here and join them when needed</p>
        </div>
        <div class="loginsection">
            <form action="/userlogin" method="post" class="loginform">
                <ul class="loginlist">
                    <li class="userinfo">
                        <label for="mail">Username or email</label>
                        <input type="text" id="mail" name="email" autocomplete="on" required>
                    </li>
                    <li class="userinfo">
                        <label for="pswd">Password <a class="forgot-pass-link" href="/forgotpassword">Forgot?</a></label>
                        <input type="password" id="pswd" name="password" autocomplete="on" required>
                    </li>
                    <li class="submitbtn">
                        <input type="submit" value="Login">
                    </li>
                    <li class="signuplink">
                        <a href="/signup">No account? Sign up</a>
                    </li>
                </ul>
            </form>
            <% if (error) { %>
                <div class="loginerror">
                    <span>
                        <%= error.message %>
                    </span>
                    <button id="closeErrBtn">
                        <img 
                            src="/images/close-outline.svg"
                            width="12"
                        />
                    </button>
                </div>
            <% } %>
        </div>
        
    </div>
    
    <script src="/build/login.js"></script>
</body>
</html>
