<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/login.css" />
</head>
<body>
    <div class="wrapper">
        <div class="description">
            <h1>Quick Join</h1>
            <p>Having a difficult time going from link to link for your classes? Add all your video links here and join them when needed</p>
        </div>
        <div class="loginsection">
            <form action="/login/userlogin" method="post" class="loginform">
                <ul class="loginlist">
                    <li class="userinfo">
                        <label for="name">Username or email</label>
                        <input type="text" id="name" name="usrname">
                    </li>
                    <li class="userinfo">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="usrpassword">
                    </li>
                    <li class="submitbtn">
                        <button type="submit">Login</button>
                    </li>
                </ul>
            </form>
            <% if (error) { %>
                <div class="loginerror">
                    <span>
                        <%= error.message %>
                    </span>
                    <button id="closeErrBtn">
                        <img 
                            src="/images/close-outline.svg"
                            width="12"
                        />
                    </button>
                </div>
            <% } %>
        </div>
    </div>
    <!--
    <a href="/signup">Sign up</a>
    -->
    <script src="/scripts/login.js"></script>
</body>
</html>
