<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/genericHeader.css" />
    <link rel="stylesheet" href="/styles/resetPassword.css">
</head>
<body>
    <header class="dashboard_header">
        <div class="header_logo">
            <h1>Quick Join</h1>
        </div>
    </header>
    <div class="wrapper">
        <p class="title">Generate a new password</p>
        <form action="/resetpassword" method="POST" class="reset-password-form">
            <label for="newpassword">New password</label>
            <input type="password" name="newpassword" id="newpassword" required>
            <label for="repeatpassword">Repeat new password</label>
            <input type="password" name="repeatpassword" id="repeatpassword" required>
            <input type="submit" value="Create new password">
        </form>
    </div>
    <script src="/build/resetPassword.js"></script>
</body>
</html>