@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'roboto';
    color: #444;
    margin: 0;
    height: 100vh;
}

/* styling for the header area */
.dashboard_header {
    background-color: rgba(66, 138, 245, 1);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo > h1 {
    margin: 0;
    margin-left: 15px;
    font-size: 25px;
}

.header_logo > h1 > a {
    text-decoration: none;
    color: white;
}

/* styling for the tool area */
.toolarea {
    display: flex;
}

.toolarea > .settings_button, .add_link_button {
    border: none;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    outline: none;
}

.toolarea > button:hover {
    cursor: pointer;
}

.settings_button {
    margin-right: 15px;
}

.add_link_button {
    margin-right: 5px;
}

.toolarea > button > img {
    height: 20px;
}

.settings-options {
    padding: 7px 0;
}
.settings-options > div {
    padding: 1em;
}

.settings-options > div:hover {
    background-color: #31d4a3;
    color: black;
    cursor: pointer;
}

/* popover on the settings button */
#tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    /*padding: 4px 8px;*/
    font-size: 13px;
    border-radius: 4px;
    position: absolute;
    top: 42px;
    right: 10px;
    display: none;
}

#tooltip[data-show] {
    display: block;
}

#arrow {
    top: -4px;
    right: 11px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #333;
}

/* rules for styling meeting links */
.special-message {
    text-align: center;
    color: #444;
    color: rgba(68, 68, 68, 0.6);
    display: none;
}

.link-container {
    width: 75%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.link-container > div {
    height: 45px;
    width: 100%;

    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(66, 192, 251, 0.5);
}

.column-names {
    height: 45px;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;

    display: none;
    align-items: center;
    border-bottom: 1px solid rgba(66, 192, 251, 0.5)
}

.column-names div:nth-child(1) {
    flex: 4;
}

/* this flex val must equal the link flex vals from link-time */
.column-names div:nth-child(2) {
    flex: 1.9;
}

.link-name {
    flex: 4;
}

.link-time {
    flex: 1;
}

.link-join{
    flex: 0.5;
}

.link-editors {
    flex: 0.2;
}

.link-editors > button {
    border: none;
    background: transparent;
    float: right;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.link-join-button {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    border: none;
    background-color: rgba(116, 187, 251, 0.8);
    color: white;
    padding: 0.5em; 
    width: 65px;
    float: right;
}

.link-join-button:hover {
    cursor: pointer;
}

#linkErrMsg {
    color: rgba(255, 0, 0, 0.7);
    text-align: center;
    display: 'none';
}

.modal-input {
    display: flex;
    flex-direction: column;
}

.modal-buttons {
    margin: 0 auto;
}

.remove-link-name {
    word-wrap: break-word;
    font-weight: bolder;
}

/* operation status message */
.operation-status {
    border: 2px solid rgba(79, 142, 131, 0.9);
    border-right: 0px;
    border-left: 0px;
    height: 10%;

    background-color: rgb(76, 183, 165);
    background-color: rgba(76, 183, 165, 0.5);
    color: #171a1e;
    color: rgba(23, 26, 30, 0.8);

    display: flex;
    align-items: center;
}

.operation-status > button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.operation-status > button > img {
    height: 25px;
}