@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'r-light';
    src: url('../fonts/Roboto-Light.ttf');
}

p {
    font-size: x-large;
}

.wrapper {
    font-family: 'r-light';
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.password-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    background-color: #dddddd;
    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 6px;
    height: 200px;
    border: 1px solid #cccccc;
}

.password-form > input {
    outline: none;
    border: inherit;
    border-radius: inherit;
    padding: 0.5em;
    font-family: inherit;
}

.password-form > button {
    background-color: rgba(18, 201, 95, 1);
    color: white;
    font-weight: bolder;
    border: 1px solid rgba(0, 143, 59, 0.8);
    border-radius: inherit;
    outline: none;
    cursor: pointer;
    padding: 0.5em;
    font-family: inherit;
}