@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'roboto';
    display: flex;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.description {
    width: 40%;
    text-align: center;

    background-color: rgba(66, 138, 245, 1);
    color: white;
    padding: 150px 1em;
    border-radius: 1em;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
}

.loginsection {
    height: 40%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.loginform {
    height: 75%;
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid rgba(30, 141, 227, 0.7);
    background-color: rgba(123, 188, 237, 0.2);
    box-sizing: border-box;
}

.loginlist {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    height: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forgot-pass-link {
    font-size: small;
    /* color: #add8e6; */
}

.userinfo {
    width: 50%;
    margin: 0 auto;
    padding: 2px;
}

.userinfo label {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.userinfo input {
    width: 100%;
    outline: none;
    border: 1px solid rgb(66, 138, 245);
    border-radius: 5px; 
}

.submitbtn {
    padding: 2px;
}

.submitbtn > button {
    border: 2px solid transparent;
    outline: none;
    color: white;
    background-color: rgba(66, 138, 245, 0.8);
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.submitbtn > button:hover {
    color: rgba(66, 138, 245, 0.8);
    border: 2px solid rgba(66, 138, 245, 0.8);
    background-color: white;
}

.loginerror {
    text-align: center;
    display: block;
    width: 40%;

    margin: 0 auto;
    padding: 0.5em;

    font-size: 12px;
    border-radius: 0.5em;
    border: 1px solid rgba(252, 32, 3, 0.2);
    background-color: rgba(252, 82, 3, 0.2);
}

#closeErrBtn {
    background: none;
    border: none;
}

#closeErrBtn:hover {
    cursor: pointer; 
    outline: none;
}

#closeErrBtn > img {
    vertical-align: middle;
}

.signuplink {
    width: 90%;
    margin: 0 auto;
    /* margin-top: 4%; */
    text-align: center;
}
