body {
    width: 100vw;
    height: 100vh;
    font-family: arial;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    text-align: center;
    flex: 1;
}

.loginarea {
}

.loginform {
    border: 2px solid #1e8de3;
    border-radius: 1em;
    padding: 1em;
    background-color: rgba(123, 188, 237, 0.2);
}

.loginlist {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.userinfo {
    width: 50%;
    margin: 0 auto;
    padding: 2px;
}

.userinfo label {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.userinfo input {
    width: 100%;
}

.submitbtn {
    padding: 2px;
}
