@font-face {
    font-family: 'r-light';
    src: url('../fonts/Roboto-Light.ttf');
}

body {
    background-color: #f8f8f8;
}

.wrapper {
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'r-light';
}

.title {
    font-size: x-large;
    align-self: center;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    border-radius: 6px;
    border: 1px solid #1d73f3;
    background-color: #42a8f5;
    padding: 1em;
    color: white;
    box-sizing: border-box;
    font-weight: bolder;
}

.reset-password-form input {
    border-radius: 6px;
    outline: none;
    border: inherit;
}

input[type="submit"] {
    background-color: #42f5ad;
    border: 1px solid #0cdd89;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 0.5em;
    cursor: pointer;
}